.page {
  max-width: 400px;
  margin: 0;
  padding: 0;
  ;
  border: solid 5px red;


.center {
  max-width: 300px;
  margin: 10px;
  background: flamingo;
}
  
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
